.wrapper {
  margin-left: 50px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 10px;
}
.login {
  font-size: 1.2rem;
}
