.addBtn {
    font-size: 1.1em;
}

.addBtn.hidden {
    display: none;
}

.addText {
    margin-left: 5px;
}

.input {
    display: none;
}

.input.active {
    display: flex;
}

.emptyListImage {
    margin-top: 25px;
}

.alert {
    margin-bottom: 10px;
}