.header {
  grid-area: header;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 9fr 1fr;
  background-color: #1890ff;
  padding: 20px 50px;
  box-sizing: border-box;
}
.logo {
  width: 50px;
}
.title {
  color: white;
}
.login {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  align-items: center;
}
.text {
  color: #f5f5f7;
  font-weight: bold;
}
.text:hover {
  color: #f5f5f7;
  transform: scale(1.05);
}
.btn {
  margin-top: 10px;
}
